.footer {
  background: #434343;
  width: 100%;

  &__row {
    a {
      color: #FFFFFF;
      text-decoration: none;
    }

    display: flex;
    max-width: auto;
    padding-top: 85px;
  }

  &__title {
    color: #AAAAAA;
    font-size: 16px;
    line-height: 21px;
    height: 45px;
    border-bottom: 1px solid #666666;
    width: 380px;
    margin-bottom: 28px;
  }

  &__menu {
    margin-right: 20px;
  }

  &__bottom {
    display: flex;
    border-top: 1px solid #666666;
    margin-top: 28px;
    line-height: 22px;
    margin-right: auto;
    padding-top: 0px;
    padding-bottom: 90px;
    width: 100%;
  }

  &__form {
    display: flex;
    max-width: 380px;
  }

  & .button:hover {
    background: #000000;
  }

  & .button:active {
    background: #000000;
  }

  & .social:hover {
    opacity: 50%;
  }

  & .social:active {
    opacity: 20%;
  }

  & input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 18px;
    line-height: 40px;
    width: 299px;
    color: #1E0606;
    resize: none;
    outline: none;
    background: #666666;
  }
  
  & input::placeholder {
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #EBEBEB;
  }
  
  & input:focus {
    border: 1px solid #FFFDFD;
  }
  
  & input:hover {
    border: 1px solid #FFFDFD;
  }
}

.footer__bottom p {
  color: #FFFFFF;
  margin-top: 23px;
}

.footer__bottom a {
  color: #A2A2A2;
  margin-left: 110px;
  margin-top: 23px;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: underline;
  }
}

.footer__content li {
  margin-top: 15px;
}

.footer__content a {
  padding-bottom: 15px;

  &:hover {
    opacity: 50%;
  }

  &:active {
    opacity: 20%;
  }
}

.inline li {
  display: inline;
  margin-right: 0px;
  padding-right: 10px;
}

.footer__p1:hover {
  color: #C29974;
  cursor: pointer;
}

.footer__p1:active {
  color: #C29974;
}

.rating-area {
  overflow: hidden;
  margin: 26px 155px 0px 25px;

  &:not(:checked)>input {
    display: none;
  }

  &:not(:checked)>label {
    float: right;
    width: 20px;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
    line-height: 16px;
    color: white;
  }

  &:not(:checked)>label:before {
    content: '★';
  }

  &>input:checked~label {
    color: #C29974;
  }

  &:not(:checked)>label:hover,
  &:not(:checked)>label:hover~label {
    color: #836E5B;
  }

  &>input:checked+label:hover,
  &>input:checked+label:hover~label,
  &>input:checked~label:hover,
  &>input:checked~label:hover~label,
  &>label:hover~input:checked~label {
    color: #C29974;
  }

  &>label:active {
    position: relative;
  }
}





