/* КАРТОЧКИ ТОВАРА */

.product {
  margin-top: 60px;

  & .product-card a {
    display: block;
    align-items: center;
    text-align: center;
  }

  & .product-card {
    position: relative;
  }

  & li:hover .info-hover {
    display: block;
    opacity: 1;
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & .product-card img {
    background: white;
  }

  & a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  & .product-card span {
    font-weight: 700;
    color: #1E0606;
  }

  & .product-card p {
    font-size: 14px;
    line-height: 19px;
  }

  & .product-card .learn-more {
    font-family: 'Montserrat''Gill Sans', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #1E0606;
  }

  & .product-card:nth-child(4n+4),
  & .product-card:nth-child(5n+5),
  & .product-card:nth-child(6n+6) {
    margin-top: 40px;
  }
}

.product-card {
  width: 380px;
  height: 497px;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: -22px;

  & p {
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    margin-top: 25px;
  }

  & span {
    font-weight: 700;
  }
}

.info-hover {
  display: flex;
  position: absolute;
  background-color: rgba(229, 234, 248, .9);
  top: 89px;
  left: 87px;
  width: 207px;
  height: 207px;
  overflow: hidden;
  text-transform: uppercase;
  opacity: 0;

  & span {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 82px;
    text-transform: uppercase;
    color: #1E0606;
  }

  &:active {
    display: flex;
    position: absolute;
    background-color: rgba(229, 234, 248, .67);
    top: 89px;
    left: 87px;
    width: 207px;
    height: 207px;
    overflow: hidden;
    text-transform: uppercase;
    opacity: 0;
  }
}